// Benzin
@font-face {
    font-family: 'Benzin';
    src: url('./fonts/benzin/Benzin-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
     font-family: 'Benzin';
     src: url('./fonts/benzin/Benzin-Medium.ttf');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: 'Benzin';
     src: url('./fonts/benzin/Benzin-Semibold.ttf');
     font-weight: 600;
     font-style: normal;
}

@font-face {
     font-family: 'Benzin';
     src: url('./fonts/benzin/Benzin-Bold.ttf');
     font-weight: 700;
     font-style: normal;
}



@font-face {
     font-family: 'Benzin';
     src:url('./fonts/benzin/Benzin-ExtraBold.ttf');
     font-weight: 800;
     font-style: normal;
}

// RFDewiExpanded
@font-face {
     font-family: 'RFDewiExpanded';
     src: url('./fonts/rf dewi/RFDewiExpanded-Regular.ttf');
     font-weight: 400;
     font-style: normal;
 }
 
 @font-face {
      font-family: 'RFDewiExpanded';
      src: url('./fonts/rf dewi/RFDewiExpanded-Semibold.ttf');
      font-weight: 600;
      font-style: normal;
 }

 // Inter
 @font-face {
      font-family: 'Inter';
      src: url('./fonts/Inter/Inter-Regular.ttf');
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
     font-family: 'Inter';
     src: url('./fonts/Inter/Inter-SemiBold.ttf');
     font-weight: 600;
     font-style: normal;
 }
